<%-include("./partials/header")-%>
<link rel="stylesheet" href="/stylesheets/index.css">
<div class="wrapper">
    <h1 id="app__name">Blog Site</h1>
    <main class="ui raised link card">
        <div class="top__container">
            <div class="imageBox">
                <img src="https://images.pexels.com/photos/2663851/pexels-photo-2663851.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
            </div>
            <div class="content">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A corporis ratione dolor quidem sit
                    consequatur, iusto aliquam harum, sequi, atque minima. Consequatur doloremque at necessitatibus
                    beatae, quae quas asperiores earum mollitia. Ducimus dicta, perferendis numquam veniam incidunt
                    similique, dolore doloremque libero, explicabo distinctio rem dolor voluptatibus magnam minima
                    nostrum blanditiis.</p>

            </div>
        </div>
        <div class="bottom__container">
            <button class="read__more ui inverted red button">Read More</button>
            <p class=" ui red basic button">Submitted by Najim</p>
        </div>
    </main>
    <main>
        <div class="top__container">
            <div class="imageBox">
                <img src="https://images.pexels.com/photos/4050315/pexels-photo-4050315.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
            </div>
            <div class="content">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A corporis ratione dolor quidem sit
                    consequatur, iusto aliquam harum, sequi, atque minima. Consequatur doloremque at necessitatibus
                    beatae, quae quas asperiores earum mollitia. Ducimus dicta, perferendis numquam veniam incidunt
                    similique, dolore doloremque libero, explicabo distinctio rem dolor voluptatibus magnam minima
                    nostrum blanditiis.</p>

            </div>
        </div>
        <div class="bottom__container">
            <button class="read__more ui inverted red button">Read More</button>
            <p class=" ui red basic button">Submitted by Najim</p>
        </div>
    </main>
    <main>
        <div class="top__container">
            <div class="imageBox">
                <img src="https://images.pexels.com/photos/1458669/pexels-photo-1458669.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
            </div>
            <div class="content">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A corporis ratione dolor quidem sit
                    consequatur, iusto aliquam harum, sequi, atque minima. Consequatur doloremque at necessitatibus
                    beatae, quae quas asperiores earum mollitia. Ducimus dicta, perferendis numquam veniam incidunt
                    similique, dolore doloremque libero, explicabo distinctio rem dolor voluptatibus magnam minima
                    nostrum blanditiis.</p>

            </div>
        </div>
        <div class="bottom__container">
            <button class="read__more ui inverted red button">Read More</button>
            <p class=" ui red basic button">Submitted by Najim</p>
        </div>
    </main>
</div>
<%-include("./partials/footer")-%>