<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Oswald&family=Pop&family=Pacifico&family=Poiret+One&family=Quicksand&family=Raleway&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css" integrity="sha512-OD0ScwZAE5PCg4nATXnm8pdWi0Uk0Pp2XFsFz1xbZ7xcXvapzjvcxxHPeTZKfMjvlwwl4sGOvgJghWF2GRZZDw==" crossorigin="anonymous" />


 
</head>
<body>
    <div class="wrapper">
        <h1>Blog Site</h1>
        <main class="ui raised link card">
            <div class="top__container">
                <div class="imageBox">
                    <img src="https://images.pexels.com/photos/2663851/pexels-photo-2663851.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A corporis ratione dolor quidem sit consequatur, iusto aliquam harum, sequi, atque minima. Consequatur doloremque at necessitatibus beatae, quae quas asperiores earum mollitia. Ducimus dicta, perferendis numquam veniam incidunt similique, dolore doloremque libero, explicabo distinctio rem dolor voluptatibus magnam minima nostrum blanditiis.</p>

                </div>
            </div>
            <div class="bottom__container">
                <button  class="ui inverted red button">Read More</button>
                <p class=" ui red basic button" >Submitted by Najim</p>
            </div>
        </main>
        <main>
            <div class="top__container">
                <div class="imageBox">
                    <img src="https://images.pexels.com/photos/4050315/pexels-photo-4050315.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A corporis ratione dolor quidem sit consequatur, iusto aliquam harum, sequi, atque minima. Consequatur doloremque at necessitatibus beatae, quae quas asperiores earum mollitia. Ducimus dicta, perferendis numquam veniam incidunt similique, dolore doloremque libero, explicabo distinctio rem dolor voluptatibus magnam minima nostrum blanditiis.</p>

                </div>
            </div>
            <div class="bottom__container">
                <button  class="ui inverted red button">Read More</button>
                <p class=" ui red basic button" >Submitted by Najim</p>
            </div>
        </main>
        <main>
            <div class="top__container">
                <div class="imageBox">
                    <img src="https://images.pexels.com/photos/1458669/pexels-photo-1458669.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A corporis ratione dolor quidem sit consequatur, iusto aliquam harum, sequi, atque minima. Consequatur doloremque at necessitatibus beatae, quae quas asperiores earum mollitia. Ducimus dicta, perferendis numquam veniam incidunt similique, dolore doloremque libero, explicabo distinctio rem dolor voluptatibus magnam minima nostrum blanditiis.</p>

                </div>
            </div>
            <div class="bottom__container">
                <button  class="ui inverted red button">Read More</button>
                <p class=" ui red basic button" >Submitted by Najim</p>
            </div>
        </main>
    </div>
</body>
</html>