<h1>Form page</h1>


<form action="/new" method="post">
    <input type="text" name="blog[image]" id="" placeholder="image url">
    <textarea name="blog[description]" id="" cols="30" rows="10"></textarea>
    <button type="submit">Submit</button>
</form>