<form action="/new" method="post">
    <input type="text" name="blog[title]" id="" placeholder="title">
    <input type="text" name="blog[image]" id="" placeholder="image url">
    <input type="text" name="blog[description]" id="" placeholder="description">

</form>