<h1>Form page</h1>


<form action="/new" method="post">
    <input type="text" name="blog[image]" id="" placeholder="image url">
    <input type="text" name="blog[description]" id="" placeholder="description">
    <button type="submit">Submit</button>
</form>