<%-include("./partials/header")-%>
<link rel="stylesheet" href="/stylesheets/show.css">
    <div class="ui one column grid wrapper">
        <div class="row">
            <div class="column">
                <h1>Blog Site</h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src="<%=blog.image%>" alt="">

            </div>
        </div>
        <div class="row">
            <div class="column">
                <p><%=blog.description%></p>
            </div>
        </div>

    </div>

<%-include("./partials/footer")-%>